/* générale */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

html{
    height: 100%;
}

body
{
    background-image: url("image/fractale.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

/* titre principale */

h1
{
    font-size: 20px;
    background: #200122;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6f0000, #200122);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6f0000, #200122); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    padding: 10px;
}

/* titre secondaire */

h2
{
    position: absolute;
    top: 40vh;
    width: 100%;
    color: white;
    
    
}

/* zone de saisis */

#zone_de_saisis
{
    padding: 20px;
    background-color: rgba(110, 0, 0, 0.6);
    position: relative;
    margin: auto;
    margin-top: 20vh;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    color: white;
}

#zone_centrale
{
    position: absolute;
    width: 100%;

}

#zone_inline
{
    display: inline-flex;
}

.options
{
    margin: 5px;
    padding: 5px;
}

/* input */

input
{
    display: block;
    margin: 5px auto;
    padding: 5px;
    outline: none;
}



/* lien */

a
{
    text-decoration: none;
    color: white;
    display: block;
}


/* footer */

#footer
{
    background: #200122;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6f0000, #200122);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6f0000, #200122); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: absolute;
    color: white;
    bottom: 0;
    width: 100%;
    padding: 20px 10px;
    font-weight: bold;

}

